body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(177, 177, 187); */
}
h1,
h2,
h3 {
  text-align: center;
}
a{
  text-decoration: none;
  font-size: 1.5rem;
  
}



<<<<<<< HEAD
  width: 60vw;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.logo{
  font-size: 1.5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  /* padding: 1rem; */

}
=======


>>>>>>> b5bc1d46559fc0fd3715d8aa84d2657e5ef8e1a3
